# Example environment variables
# Copy this to .env and set actual values.

# API keys
API_KEY=your_api_key_here
SECRET_KEY=your_secret_key_here

# Database (SQLite3)
# Usa una ruta local o en memoria: sqlite:///./data/sql/database.db (local) o sqlite:///:memory: (en RAM)
DATABASE_URL=sqlite:///./data/sql/database.db
